.product-list {
  display: flex;
  flex-wrap: wrap;
  /* Permite que los elementos se desborden en la siguiente fila */
  gap: 20px;
  /* Espacio entre los productos */
}

.product {
  flex: 0 1 200px;
  /* Cada producto ocupa 200px de ancho */
  padding: 10px;
  border: 1px solid #ddd;
  text-align: center;
  background-color: #f9f9f9;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}